[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
dispenser = "5wJ2J89xMnbfK5JtZvvFn2Fp8NkMbv9tKm2xpQdp1R62"

[programs.devnet]
dispenser = "5wJ2J89xMnbfK5JtZvvFn2Fp8NkMbv9tKm2xpQdp1R62"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
